<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@6.10.0">
  <actions/>
  <description>The Boomi CICD jobs for the above account</description>
  <displayName>Account {Rename}</displayName>
  <properties>
    <com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain plugin="credentials@2.3.0">
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList>
            <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.5">
              <id>authToken</id>
              <description>Boomi API Authentication Token</description>
              <secret>{AQAAABAAAACANK1Jkb1ftQow2/+PL6IU27e6zOm3d4vTzyKDHjbeLdcz0k7gB0i+YrtIi9lpqbcke4G2nyISMpGbXPAIBUstdva8AazcywoxzvcfM4E2uFXr1J5rnYv4ceY7+jV9DUphxlMlYC8avBDB4n5WCpuRLmkyh0PEbekW/q3NZyhWxVqp3enP20+RsfHmj1FGhvZz}</secret>
            </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.3.0">
              <id>git_id</id>
              <description>Git username and password</description>
              <username>user@company.com</username>
              <password>{AQAAABAAAACAbIfqWW3tH7C+E1mwtbB8b+qXA4DZdpC49W1mO2VNDqzdHWc/xUAn0tO3bxq6g6B19ThQGL2S7fZokzm/vXkKrYKO8YwZJoWdVUETJB/+flWFRqhD4Nxrx5mfGpcMxyvDVj734AZhjWYE+AJJYYaN2LtMZfMic3BE9ejpFzmasg7EplF2tcCIF6TYUsMpWNjs}</password>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          </java.util.concurrent.CopyOnWriteArrayList>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
    <com.mig82.folders.properties.FolderProperties plugin="folder-properties@1.0">
      <properties>
        <com.mig82.folders.properties.StringProperty>
          <key>h1</key>
          <value>Accept: application/json</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>h2</key>
          <value>Content-Type: application/json</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>accountId</key>
          <value>[Update the accountId here]</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>baseURL</key>
          <value>https://api.boomi.com/api/rest/v1/$accountId</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>SCRIPTS_HOME</key>
          <value>/var/jenkins_home/cli/scripts</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>SONAR_PROJECT_KEY</key>
          <value>boomi</value>
        </com.mig82.folders.properties.StringProperty>
      </properties>
    </com.mig82.folders.properties.FolderProperties>
    <org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig plugin="pipeline-model-definition@1.5.0">
      <dockerLabel></dockerLabel>
      <registry plugin="docker-commons@1.15"/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig>
  </properties>
  <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
    <views>
      <hudson.model.AllView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>all</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
      </hudson.model.AllView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Installation Jobs</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator"/>
          <string>Create Cloud Atom</string>
          <string>Create Environment</string>
          <string>Create Environment and Attach Atom</string>
          <string>Delete Atom and Env</string>
          <string>Delete Local Atom</string>
          <string>Get Cloud Installer Token</string>
          <string>Get Installer Token</string>
          <string>Install Local Atom</string>
          <string>Query Atom</string>
          <string>Update Shared Server</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Continuous Deployment (Process)</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>Continuous Process Deployment Pipeline</string>
          <string>Continuous Process Deployment Pipeline Sonar and GIT</string>
          <string>Create Process Schedule</string>
          <string>Deploy Local Process and Publish to GIT</string>
          <string>Deploy Local Process_SonarQube_Publish to GIT</string>
          <string>Deploy Multiple Processes</string>
          <string>Deploy Package</string>
          <string>Execute Process</string>
          <string>Promote Multiple Processes</string>
          <string>Promote Process</string>
          <string>Query Execution Record</string>
          <string>Undeploy Process</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Operations Jobs</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>Change All Listener Status</string>
          <string>Change Listener Status</string>
          <string>Execute Process</string>
          <string>Query Execution Record</string>
          <string>Update Process Schedule Status</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Continuous Deployment (Package)</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator"/>
          <string>Continuous Package Deployment Pipeline</string>
          <string>Continuous Package Deployment Pipeline Sonar and GIT</string>
          <string>Create Package</string>
          <string>Create Packages</string>
          <string>Create Process Schedule</string>
          <string>Deploy Local Package_Publish to GIT</string>
          <string>Deploy Local Package_SonarQube_Publish to GIT</string>
          <string>Deploy Package</string>
          <string>Deploy Packages</string>
          <string>Execute Process</string>
          <string>Query Execution Record</string>
          <string>Undeploy Package</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
    </views>
    <primaryView>all</primaryView>
    <tabBar class="hudson.views.DefaultViewsTabBar"/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>
