<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Install Local Atom &#xd;
&#xd;
Creates Local Atom with name Jenkins01 and attaches to environment #jenkins&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>atomName</name>
          <description>Name of the atom</description>
          <defaultValue>jenkins01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ${SCRIPTS_HOME}
INSTALL_DIR=&quot;/var/jenkins_home/boomi&quot;
ATOM_HOME=${INSTALL_DIR}/Atom_${atomName}

source bin/installerToken.sh atomType=&quot;ATOM&quot;
bin/installAtom.sh atomName=&quot;${atomName}&quot; tokenId=${tokenId} INSTALL_DIR=&quot;${INSTALL_DIR}&quot; 
source bin/createEnvAndAttachRoleAndAtom.sh env=&quot;#jenkins&quot; classification=&quot;TEST&quot; atomName=${atomName} roleName=&quot;Administrator&quot; purgeHistoryDays=&quot;1&quot;

${ATOM_HOME}/bin/atom stop &gt; /dev/null 2&gt;&amp;1 &amp;
PID=$!
sleep 30
kill -9 $PID  &gt; /dev/null 2&gt;&amp;1 &amp;


cd ${ATOM_HOME}/message
find . -regex &apos;.*[0-9a-fA-F]+-[0-9a-fA-F]+.-[0-9a-fA-f].*&apos; -type d | xargs rm -rf
cd ${ATOM_HOME}/bin
sed -e &apos;s/512/128/g&apos; atom.vmoptions &gt; atom.vmoptions_1
mv atom.vmoptions_1 atom.vmoptions



${ATOM_HOME}/bin/atom start
sleep 30
${ATOM_HOME}/bin/atom status</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.20">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>authToken</credentialsId>
          <variable>authToken</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
    <com.mig82.folders.wrappers.ParentFolderBuildWrapper plugin="folder-properties@1.0">
      <folderProperties>
        <properties>
          <com.mig82.folders.properties.StringProperty>
            <key>h1</key>
            <value>Accept: application/json</value>
          </com.mig82.folders.properties.StringProperty>
          <com.mig82.folders.properties.StringProperty>
            <key>h2</key>
            <value>Content-Type: application/json</value>
          </com.mig82.folders.properties.StringProperty>
          <com.mig82.folders.properties.StringProperty>
            <key>accountId</key>
            <value></value>
          </com.mig82.folders.properties.StringProperty>
          <com.mig82.folders.properties.StringProperty>
            <key>baseURL</key>
            <value>https://api.boomi.com/api/rest/v1/$accountId</value>
          </com.mig82.folders.properties.StringProperty>
          <com.mig82.folders.properties.StringProperty>
            <key>SCRIPTS_HOME</key>
            <value>/var/jenkins_home/cli/scripts</value>
          </com.mig82.folders.properties.StringProperty>
          <com.mig82.folders.properties.StringProperty>
            <key>GIT_REPO</key>
            <value>https://...git</value>
          </com.mig82.folders.properties.StringProperty>
        </properties>
      </folderProperties>
    </com.mig82.folders.wrappers.ParentFolderBuildWrapper>
  </buildWrappers>
</project>